html, body {
    height: 100%;
}
#titre1{
    text-align: center;
}
header{
    position: center;
    vertical-align: middle;
}
#ma_photo{
    margin-right: 500px;
}
section,ul{
    margin-left: 20px;
}
aside {
    text-align: right;
    margin-top: 10px;
}

