html, body {
    height: 100%;
}
header{
    vertical-align: middle;
    display: relative;
}
#titre1{
    text-align: center;
}
#ma_photo{
    position: center;
}
ul{
    display: flex;
    flex-direction:column;
}

ul{
    background-color: #C0C0C0  ;
    width: auto;
    text-align: center;
    border-style: inset;
}

div, #align_bloc{
    display: flex;
    text-align: center;
    color: blue;
}



