html, body {
    height: 100%;
}
header{
    vertical-align: middle;
    display: relative;
}
#titre1{
    text-align: center;
}
#ma_photo{
    position: center;
}
.titre_haut{
    vertical-align: middle;
    display: flex;
}
section,ul{
    margin-left: 20px;
    flex-direction:column;
}
article {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    top: -750px;
    
}
aside {
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    position: relative;
    top: -750px;
    margin-right: 100px;
    
}
.align_bloc {
    flex-direction: column;
    
}

